figure {
  background-color:red;
  text-align:center;
  padding-top: 20px;
  padding-bottom: 5px;
  width: 650px;
  }
figcaption {
  border: 5px;
  text-shadow: 2px 2px 5px black;
  font-size:42px;
}
p{
   text-align:left;
   padding-left: 230px;
}


